.header {
  display: flex;
}

.header__logo {
  margin-top: 12px;
  margin-left: 20px;
}

.header__navigation {
  margin-left: 88px;
}

.header__description {
  display: none;
}

@media (min-width: $desctop-width) {
  .header__description {
    font-size: 12px;
    line-height: 16px;
    display: block;
  }
}
