.title {
  font-size: 12px;
  line-height: 16px;
  color: #7859cf;
  text-transform: uppercase;
  text-align: center;

  &--start {
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    text-transform: none;
  }
}
